@font-face {
  font-family: trainer;
  src: url(fonts/AcuminVariableConcept.ttf);  
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    margin: 0;
    width:100%;
    height:100%;
    overflow-x: hidden;
    font-family: trainer, sans-serif;
    font-size: 1.2em;
    word-spacing: 3px;    
    position: relative;
    min-height: 100vh;
}

a {
    color: black;
    outline: none;
    text-decoration: none;
}

a:hover, a:active, a:focus {
    color: red;
    outline: none;
    text-decoration: none;
}

.fila{
    width: 80%;
    max-width: 100vw;
    font-size: 0.95em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between; 
    z-index: 20;
}

.columna, .columnaGrande{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    width: 100%;
}

.columnaGrande{
    align-items: center;
}

/*************navbar**************************/

.nav, .nav2{
    position: fixed;
    background-color: #000;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    width: 100vw;
    z-index: 100;
}

.main-nav{
    display: none;
    transition : all 5s linear;
}

.main-nav-vis{
    display: flex;
    margin-left: 2%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    list-style-type: none;
    transition : all 5s linear;
}

.main-nav-vis li{
    margin-bottom: 2%;
}

.contenedorNav{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;    
}

.active{
    color: red;
    outline: none;
    text-decoration: none;
}

.destacado{
    color: white;
    background-color: red;
    padding: 2px 18px;
    border-radius: 8px;
    text-decoration: none;
}

.destacado:hover{
    color: black;
    text-decoration: none;
}

.en1{
    color: #fff;
    outline: none;
    text-decoration: none;
}

.en2{
    color: #fff;
    outline: none;
    text-decoration: none;
}

.logoNavB{     
    height: 40px;
    width: 28px;
    margin: 10px;
    z-index: 100;
}

.logo{
    align-self: flex-start;
}

.logoNav, .logoNav2{
    display: none;
}

.fotoNav{
    height: 50px;
    width: 50px;
    background-color: #fff;
    border-radius: 50%;
}

.navBoton{
    border: solid #fff 2px;
    border-radius: 5px;
    padding: 2px 6px;
    margin: 10px;
}


.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
 
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.slideBlog{
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
}

.slideFotoBlog {
    width: 50vw;
}

.slick-next:before { 
    content: ">"; 
    color: red; 
    font-size: 30px; 
} 
.slick-prev:before { 
    content: "<"; 
    color: red; 
    font-size: 30px; 
} 


/********secciones index**********************/


.inicio, .presentacion, .tarifas, .blog, .contacto, .capa{	
    
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    min-height: 100vh;
    max-width: 100vw;
    z-index: 0;
    margin:0;
    margin-bottom: 5%;
}



.presentacion, .tarifas, .blog, .contacto{
    padding-top: 5%;
}

.contacto{
    margin-bottom: 0px;
}

.inicio{
    background-image: url(/proyecto2.0/img/portada.jpg);

}

.capa{    
    background: linear-gradient(to left bottom, #212531 50%, #b30000 50%);
    z-index: 10;    
    opacity: 0.3; 
    margin-bottom: 0;
}

.capa2{    
    position: fixed;
    background-color: white;
    z-index: 0;    
    opacity: 0.8; 
    margin-bottom: 0;
    width: 100vw;
    height: 100vh;
}

.logoWrap{
    height: 100%;
    width: 100%;
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    justify-content: center;
    align-items: center;    
    position: absolute;
    top: 0;
}

.logoPortada{ 
    opacity: 1;
    width: 150px;
    height: auto;
    z-index: 50;
    
}

.presentacion{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.titulo{    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  
}

.titulo h1{
    font-style: italic;
    word-spacing: 15px;
    text-align: center;    
}

.linea{
    background-color: red;
    margin-bottom: 100px;
    height: 5px;
    width: 55%;
}

.linea2{
    background-color: black;
    height: 2px;
    width: 50%;
}

.presColumnas{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around; 
    margin-bottom: 10%;
}

.presColumnas figure {
    position: relative;
    margin-top: -50px;
    margin-bottom: 15px;
}
.presIcon {
    width: 80px;
}

.presColumnas div{
    width: 350px;
    min-width: 33.33vh;
    height: 200px;
    text-align: center;    
    font-size: 0.7em;
    border: solid black 1px;
    padding: 10px;
    margin-bottom: 50px;
    
}

.presColumnas div h3{
    color: red;
    font-size: 1.5em;
    font-weight: 500;
}

.presColumnas p{
    margin-bottom: 0;
}

.slidePres{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;    
    margin-bottom: 200px;
}

.slideFotoPres{
    width: 500px;
    overflow: hidden;
    
}

.tarifas{
    background-color: #fff; 
    display: flex;
    flex-direction: row;
}

.tarifas .tar1, .tarifas .tar2, .tarifas .tar3{
    display: flex;
    height: inherit;
    width: 33.33vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
}

.tar1{
    background-image: url(/proyecto2.0/img/tar01.jpg);    
}

.tar2{
    background-image: url(/proyecto2.0/img/tar02.jpg);    
}

.tar3{
    background-image: url(/proyecto2.0/img/tar03.jpg);    
}



.blog{
    background-color: #fff; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.contacto{
    background-image: url(/proyecto2.0/img/contacto.jpg);
}

/**********************divisiones****************************/

.inclinado {
  position: absolute;
  transform: rotate(-1.7deg);
  -ms-transform: rotate(-1.7deg);
  -webkit-transform: rotate(-1.7deg);
  -o-transform: rotate(-1.7deg);
  -moz-transform: rotate(-1.7deg);
  background-color: transparent;
  content: "";
  z-index: 3;
  display: inline-block;
  height: 70px;
  bottom: 0;
  margin-bottom: -35px;
  padding: 0;
  width: 101%;
}

/*************footer********************************/

.foot{
    font-size: 10px;
    position: absolute;
    padding: 0.3%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    max-width: 100vw;    
    color:white;
    background: #000;
    bottom: 0;
    z-index: 100;
    
}

.foot01{
    width: 33%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logoFoot{
    height: auto;
    width: 20%;
}

.foot02{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.foot02 p{
    text-align: center;
}
.redes{    
    margin: 2%;    
    height: auto;
    width: 90%;
}


.foot03{
    width: 33%;
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-self: flex-end;
}

.enlaceFoot {
  color: white;
  word-break: keep-all;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-align: right;
  margin-bottom: 1%;
}


/**************************Ventana Modal***************************************************/

.modalVentana {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("/proyecto2.0/img/loginBack.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

 .olvidaForm, .cerrarForm{
    display: flex;    
    font-style: italic;
    font-size: 0.7em;
    color: #fff;
}

.modalForm{
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    max-width: 100vh;    
}


.iconoForm{
    
}

.modalLogo{
    width: 130px;
    height: auto;
}


/********************generico formulario*****************************/

.campoForm{
    max-width: 90vh;
    width: 100%;    
    padding: 10px;
    opacity: 0.7;
    font-style: italic;
    font-size: 0.8em;
}

.campoForm, .aceptarForm{
    margin-top: 35px;
    border-radius: 5px;
}

.olvidaForm{
    align-self: flex-end;
    margin: 10px 0px;
}

.aceptarForm{   
    background-color: #960C0A;
    color: white;
    border-color: #960C0A;    
    border: 0px;
    width: 200px;
    height: 50px;
}

.lineaForm{
    display: flex;
    background-color: #fff;
    width: 80%;
    height: 1px;
    margin: 20px 0px;
}

.formDatos{
    width: 100%;
}
.formulario{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.formGroup{
    margin: 0 5% 10% 5%;    
}

.formGroup .etiqueta{
    color: black;
    position: absolute;
    margin-top: -10px;
    margin-left: 10px;
    z-index: 100;
}

.formGroup option{
    overflow: hidden;
}

.formulario .campoForm{
    margin: 0;
}

.formulario .campoForm:focus{
    outline: black;
}

.formulario fieldset{
    padding-top: 3%;
}

.error{
    text-align: right;
    font-size: 0.8em;
    color: red;
    font-style: italic;
    visibility: hidden;
}

textarea{
    height: 100%;
}
/********************Detalles usuario**********************/

.userfoto{
    border-radius: 50%;
    width: 30%;    
}

.encabezado{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5%;
    z-index: 20;
}

.titDetalles{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin: 5% 0 2% 0;    
}

.datos{
    background-image: url("/proyecto2.0/img/userBack.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#anotaciones{
    
}
.itemCaja{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.95em;
    border: none;
    border-radius: 5px;;
    width: 100%; 
    margin-bottom: 10%;
    background-color: rgba(255,255,255,0.5)
}

.itemCaja span{
    margin: 1% 0;
    align-self: center;
}

.etiqueta {
    padding: 0 5px;
    font-weight: bold;
    color: red;
    position: relative;
    align-self: flex-start;
    margin-left: 2%;
    margin-top: -10px;
}

.formGroup .etiqueta{
    background-color: white;
}

/**************titulos parte autentificada************************/

.contenedor{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    padding: 20% 0;
}

.contenedor h1{
    color: red;
    font-size: 1.5em;
}

.tituloBack{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

.nUser{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}
.nUser img{
    width: 40%;
    height: auto;
    margin-right: 10%;
}


/*******************formateo de las tablas***********************/

.tablaWrap{
    width: 100%;
    display: flex;
    overflow-x: auto;
    justify-content: center;
}

.tabus {
  width: 70%;
  border-collapse: collapse;
  margin: 5% 0;
}
.tabus tr.usuTabla:hover, .tabus tr.usuTabla:active {
    color: red;
}

tabus td{
    padding: 5%;
}

.flechaTabla{
    height: 50%;
    transition-duration: 0.5s;
}

.tabus tr:nth-child(even) {
  background: #D3D3D3;
}

.tabus thead{
  text-align: left;
  font-weight: bold;
}


/*******************calendarios***************************/

.calendario{
    position: absolute;
    margin: 0 10%;
    margin-bottom: 5%;
    max-height: 95vh;
}

/***************************buscador****************************************/
.busc {
    width: 40%;
    font-size: 16px;
    padding: 5px 20px 5px 40px;
    border: 1px solid #ddd;
    margin-bottom: 1%;
    left: 15%;
}


/***********************************************************************/

.botones{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 20;
}

button{
    border: none;
}

.boton{
    color: white;
    padding: 1% 3%;
    margin-right: 8%;
}

.boton:active{
    outline: none;
    color: white;
}

.botonSimple{
    border: none;
    background-color: transparent;
    word-spacing: 3px;
}

.botonSimple:active{
    outline: none;
}

.flecha{
    height: 30px;
    width: auto;
}

.label-login{
    color: #fff;
}

.obligatorio{
    color: red;
}

.oculto{
    display: none;
}

/********************************pantalla pc************************************/
/*******************************************************************************/
/*******************************************************************************/

@media only screen and (min-width: 768px) {
    
.nav, .nav2{
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;  
}


.nav{
    background-color: rgba(255,255,255,0);
}

.nav2{
    background: #f0f0f0;
}


.backNav{
    background: #f0f0f0;
    filter: alpha(opacity=0);
    /* IE */
    -moz-opacity: 0;
    /* Mozilla */
    opacity: 0;
    /* CSS3 */
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -10;
}

.main-nav{
    width: 60%;
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.nav2 .main-nav{
    width: 45%;
}

.contenedorNav{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}


.main-nav li{
    font-family: impact;
    font-stretch: extra-condensed;    
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.enlaceNav, .destacado {  
    white-space: nowrap;
    
}

.en1{
    color: white;
}

.en2{
    color: black;
    outline: none;
    text-decoration: none;
}

.en3{
    color: red;
    outline: none;
    text-decoration: none;
}


.logoNav, .logoNav2{
    margin: 10px;    
    height: auto;
    width: 30%;
    display: inline-block;
}

.logoNavB{
    display: none;
}

.logoNav{
    opacity: 0;
}

.logoNav2{
    opacity: 1;
}

.navBoton{
    display: none;
}

/*foto usuario/admin en navbar*/

.fotoNav{
    width: 60%;
    height: auto;
    background-color: #fff;
    border-radius: 50%;
}


.login-fila{
    color:white;
}

.modalForm{
     width: 35%;
}

.lineaForm{
    width: 25%;
}

.redes{    
    margin: 2%;    
    height: auto;
    width: 40%;
}

.logoFoot{
    height: auto;
    width: 50px;
}

.enlaceFoot{
    margin-left: 5%;
}


.presentacion h1{
    font-size: 80px;
    word-spacing: 15px;    
}

.contenedor{
    padding: 10% 0;
}

.columnaGrande{
    width: 100%;
}

.columna{
    
    width: 25%;
}

.fila, .fila2{
    width: 80%;
    font-size: 0.95em;    
}

.titDetalles{
    width: 40%;   
}

.userfoto{
    width: 10%;    
}

.itemCaja{
    margin-bottom: 15%;
}

}

/*************************************Fin del mediaquery************************
*********************************************************************************
*********************************************************************************/