
    <div class="modalVentana" id="modalLogin" >  
        <img class="modalLogo" src="/proyecto2.0/img/icons/logoInicio.png">
            
        <form class="modalForm" action="{$smarty.server.PHP_SELF}" method="post" class="">
            <input type="text" maxlength="20" size="20" name="user" class="campoForm" placeholder="Usuario" value="">
            <input type="password" maxlength="20" size="20" name="pass" class="campoForm" placeholder="Contraseña" value="">
            <a class="olvidaForm" id="olvidaForm" href="#">Olvidaste tu contraseña?</a>
            <input type="submit" value="Entrar" class="aceptarForm"name="acceder" id="acceder" >             
        </form>  

        <div class="lineaForm">&nbsp;</div>
        <a id="cerrar1" class="cerrarForm" href="#">Volver</a>

    </div>                    
