<div class="modalVentana" id="modalOlvida" >  
    <img class="modalLogo" src="/proyecto2.0/img/icons/passBlanco.png">
    <form class="modalForm" action="{$smarty.server.PHP_SELF}" method="post" class="">
        <input type="text" maxlength="20" size="20" name="correo" class="campoForm" placeholder="Correo Electrónico" value="" autocomplete="off">                  
        <div class="aceptarFormWrap">
            <input type="submit" value="Enviar" class="aceptarForm" name="enviar" id="enviar" >
        </div>
    </form>  
    <div class="lineaForm">&nbsp;</div>
    <a id="cerrar2" class="cerrarForm" href="#">Volver</a>
</div>